.landing-header {
  color: white;
}
svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.curve {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  background-color: white;
  height: 40rem;
}
.laptop {
  width: 900px;
  position: absolute;
  top: 15;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
}

.icon,
.partners img {
  width: 50px;
}

.partners img {
  height: 50px;
}
