.header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/indexHeader.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header--2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/indexHeader-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header--3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/indexHeader-2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.img-overlay {
  z-index: -99 !important;
  background-color: rgba(0, 0, 0, 0.3);
}
.header-text {
  position: relative;
  top: 62vh;
  left: 12%;
  display: flex;
  color: white;
}
.header-text .subheading-section {
  position: absolute;
  margin-top: 8rem;
  margin-left: 43vw;
}
.header-text .subheading-section h2 {
  font-size: 2rem;
  margin-bottom: 0.7rem;
}
.header .header-text h1 {
  position: fixed;
  font-size: 16rem;
}

@media only screen and (max-width: 1870px) {
  .header .header-text h1 {
    font-size: 12rem;
  }

  .header .subheading-section {
    margin-top: 5rem;
  }

  .header--2 .subheading-section {
    margin-top: 12rem;
  }
}

@media only screen and (max-width: 1400px) {
  .header .header-text h1 {
    font-size: 10rem;
  }

  .header .subheading-section {
    margin-top: 3rem;
  }

  .header--2 .subheading-section {
    margin-top: 15rem;
  }
}

@media only screen and (max-width: 1150px) {
  .header .header-text h1 {
    font-size: 8rem;
  }

  .header .subheading-section {
    margin-top: 1rem;
  }

  .header--2 .subheading-section {
    margin-top: 10rem;
  }
}

/* ABOUT SECTION */
.about-section {
  display: flex;
  flex-direction: row;
  padding: 5rem 20rem 0rem 20rem;
}

.about-section img {
  width: 25rem;
  height: 30rem;
  margin-left: 5rem;
}

.about-section-wording {
  padding-top: 6rem;
  padding-left: 3rem;
}

small {
  text-transform: uppercase;
  color: rgb(100, 100, 100);
}

.about-section-wording h3 {
  font-size: 2rem;
  margin-top: 1rem;
}

@media (max-width: 1870px) {
  .about-section {
    padding: 5rem 10rem 0rem 10rem;
  }
}

@media (max-width: 1150px) {
  .about-section {
    padding: 5rem 3rem 0rem 3rem;
  }
}

/* BANNER SECTION  */

.banner {
  margin: 5rem 0rem;
  width: 100%;
}

.banner h2 {
  text-align: center;
  font-size: 3rem;
  color: #8247b5;
  font-weight: 900;
}
.logos {
  margin: 5rem 10rem;
  display: flex;
  justify-content: space-around;
}
.logos img {
  width: 5rem;
  height: 5rem;
}

/* BLOG SECTION */

.blog {
  margin: 0rem 7rem;
}
.row {
  justify-content: space-between;
}
.el:not(:last-child) {
  margin-right: 3rem;
}

.el {
  width: 30%;
}
.el img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 10rem;
}
.blog h3 {
  font-size: 2.3rem;
}
.blog h5 {
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/* Numbers */

.numbers {
  text-align: center;
  margin: 4rem 0rem;
}

.numbers h2 {
  font-size: 3rem;
}

.numbers-main {
  margin: 3rem;
  justify-content: space-around;
}

.numbers-main p {
  font-size: 0.8rem;
}

.number {
  font-size: 6rem;
  line-height: 8rem;
  font-weight: 900;
  color: #8247b5;
}

.numbers button {
  margin: 0rem auto;
  border-radius: 20px;
  padding: 1rem 3rem;
  border: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  background-color: white;
  color: #8247b5;
  border: 3px solid #8247b5;
}
footer {
  justify-content: center;
  padding: 5rem 5rem 2rem 5rem;
  background-color: #8247b5;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 2rem;
}

footer ul:not(:last-child) {
  border-right: 1px solid white;
  padding-right: 9rem;
}

footer ul li {
  cursor: pointer;
}
