nav {
  flex-direction: column;
  position: fixed;
  z-index: 100000;
  width: 100%;
}

.main-nav {
  justify-content: space-between;
  padding: 1rem 16rem;
  font-family: "Arial";
  background-color: white;
  width: 100%;
  height: 4rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

button {
  box-shadow: 0.1125rem 0.3125rem 0.3125rem 0rem rgba(125, 138, 149, 0.45);
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.1s;
}

button:active {
  box-shadow: 0 0.1125rem 0.1125rem 0rem rgba(125, 138, 149, 0.45);
  transition: box-shadow 0.1s;
  transform: translateY(0.5px);
}

.left-nav {
  width: 550px;
  justify-content: space-around;
}

.left-nav ul li,
.right-nav #sign-in {
  cursor: pointer;
  margin-left: 2rem;
  list-style: none;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.8rem;
}

.logo {
  font-size: 1.5rem;
  font-family: "serif";
}

.icon {
  font-size: 0.7rem;
  padding-left: 0.2rem;
}

.right-nav {
  justify-content: space-between;
}

.right-nav button {
  margin-left: 2rem;
}

nav .right-nav button {
  border-radius: 20px;
  padding: 0.3rem 1rem;
  padding-top: 0.4rem;
  border: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  background-color: #8247b5;
  color: white;
}

.flex {
  display: flex;
}

.solutions,
.story,
.sign-in {
  flex-direction: row;
  justify-content: space-around;
  height: 0px;
  position: absolute;
  z-index: 10000;
  transition: height 0.2s;
  overflow: hidden;
  width: 100%;
  background-color: white;
  top: 4rem;
}
.solutions-left,
.story-left,
.sign-in-left {
  list-style: none;
}
.solutions-left li,
.story-left li,
.sign-in-left li {
  margin: 0rem;
  padding: 0rem;
  margin-bottom: 2rem;
}
.solutions-left li img,
.story-left li img,
.sign-in-left li img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}
.solutions-left li p,
.story-left li p,
.sign-in-left li p {
  font-family: Arial;
}
.solutions-right,
.story-right {
  padding: 1rem 4rem;
  font-family: Arial;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.solutions-right li,
.story-right li {
  margin-bottom: 0.5rem;
  list-style: none;
  cursor: pointer;
  color: rgb(50, 50, 50);
}

.column {
  flex-direction: column;
}

.bold {
  font-weight: 600;
}

.small {
  font-size: 0.9rem;
}

.show {
  height: 15rem;
  padding: 2rem 0rem;
}
