.travel-nav {
  width: 100%;
  padding: 0rem 5rem;
  background-color: white;
}

.travel-nav a {
  color: black;
}

.travel-nav ul {
  margin-top: 1.2rem;
  margin-bottom: 0rem;
}

.travel-nav ul li {
  background-color: transparent !important;
}

.travel-nav a:hover {
  text-decoration: none;
  color: black;
  border-bottom: 5px solid #fbe20a;
  transition: all 0.3s;
}

.travel-nav .right-section {
  background-color: black;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
}

.travel-nav .booking {
  cursor: pointer;
}
